$xl: 1280px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

:root {
   --font-family: "Montserrat";
   --font-weight: 700;
   --min-width: 320px;
}

:root {
   --additional: #6ebbd3;
   --secondary-color: #fff;
   --base-color: #000;
   --header-opacity: 0.7;
}
