$xl: 1280px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

:root {
   --font-family: "Sfuid";
   --font-family-secondary: "Sfuid";
   --font-weight: 400;
   --min-width: 320px;
}

:root {
   --secondary-color: #000;
   --base-color: #000;
}
