.cat {
   padding: 37px 0 83px 0;
}

.cat__sorting {
   display: flex;
   align-items: center;
   margin: 0 0 42px;

   @include media(max,$sm) {
      flex-direction: column;
      align-items: flex-start;
   }
}

.cat__subtitle {
   @include font(18px,1.2,false);
   margin: 0 48px 0 0;
   color: var(--base-color);

   @include media(max,$sm) {
      margin: 0 0 25px 0;
   }
}

.cat__wrap-filters {
   display: flex;
   align-items: center;
}

.cat__filter {
   position: relative;
   display: flex;
   // overflow: hidden;
}

.cat__filter:first-of-type {
   margin: 0 55px 0 0;
}

.cat__label {
   @include font(18px,1,400);
   padding: 0 25px 0 0;
   color: var(--base-color);
   cursor: pointer;
}

.cat__arrow {
   @include wh(15px);
   position: absolute;
   top: 63%;
   right: -6px;
   transform: translateY(-50%) rotate(180deg);
   transition: transform 500ms ease;
}

.cat__filter:last-of-type > .cat__label > .cat__arrow {
   right: -20px;
}

.cat__sort {
   position: absolute;
   top: 20px;
   left: 0;
   z-index: 100;
   visibility: hidden;
   opacity: 0;
   transition: opacity 500ms ease, visibility 500ms ease;
}

.cat__sort button {
   @include font(16px,1.2,700,left);
   padding: 5px 5px;
   color: tomato;
   background-color: rgba(0, 0, 0, 0.8);
   border: 1px solid;
}

.cat__input:checked + .cat__label > .cat__arrow {
   transform: translateY(-50%) rotate(0deg);
}

.cat__input:checked ~ .cat__sort {
   visibility: visible;
   opacity: 1;
}

.cat__wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 -15px -27px;
}

.cat__card {
   position: relative;
   width: 380px;
   margin: 0 10px 27px;

   @include media(max,$xl) {
      width: 450px;

      @include media(max,$lg) {
         width: 340px;

         @include media(max,$md) {
            width: 600px;
         }
      }
   }
}

.cat__discount {
   @include font(16px,1.2,400);
   @include wh(78px,39px);
   position: absolute;
   top: 36px;
   left: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--secondary-color);
   background: #e62d2d;
   border-radius: 10px;
}

.cat__like {
   @include wh(46px);
   position: absolute;
   top: 32px;
   right: 32px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: fill 500ms ease;
   fill: #999;
}

.cat__like.active {
   fill: var(--secondary-color);
}

.cat__img {
   width: 100%;
   height: 265px;
   object-fit: cover;
   object-position: center;
}

.cat__wrap-column {
   padding: 30px;

   @include media(max,$sm) {
      padding: 15px;
   }
}

.cat__title {
   @include font(24px,1,false);
   margin: 0 0 22px 0;
   color: var(--base-color);
}

.cat__wrap-caption {
   position: relative;
   display: flex;
   align-items: center;
   margin: 0 0 28px;
   padding: 0 0 0 22px;

   @include media(max,$sm) {
      padding: 0 0 0 10px;
   }
}

.cat__wrap-caption::before {
   @include wh(4px,80%);
   position: absolute;
   top: 50%;
   left: 0;
   background-color: var(--additional);
   transform: translateY(-50%);
   content: '';
}

.cat__text {
   @include font(12px,1.2,400);
   display: block;
   color: var(--base-color);
}

.cat__text--max {
   max-width: 80px;
}

.cat__wrap-age {
   margin: 0 0 0 25px;
}

.cat__age {
   @include font(16px,1,false);
   color: var(--base-color);
}

.cat__wrap-quantity {
   margin: 0 0 0 48px;
}

.cat__quantity {
   @include font(16px,1,false);
   color: var(--base-color);
}

.cat__price {
   @include font(24px,1,false);
   color: var(--base-color);
}

.cat__button {
   @include font(14px,1.2,400);
   display: block;
   width: 100%;
   max-width: 380px;
   height: 65px;
   margin: 68px auto 0 auto;
   color: var(--base-color);
   border: 1px solid #cacaca;
   border-radius: 10px;
   transition: background 500ms ease, color 500ms ease;
}

.cat__button:focus,
.cat__button:hover {
   color: var(--secondary-color);
   background: var(--base-color);
}
