<footer class="footer">
   <div class="container container--bg">
      <div class="footer__wrapper">

         <div class="footer__column">
            <h2 class="footer__title">Успей купить!</h2>
            <p class="footer__text">Подпишись и успей словить все акции</p>
         </div>

         <form class="footer__form" action="#" >

            <div class="footer__wrap">
               <input class="footer__email" type="text" placeholder="Email">
               <button class="footer__btn btn" type="submit">Подписаться</button>
            </div>

            <div class="footer__wrap">
               <input class="footer__checked hidden" id="subscribe" type="checkbox">
               <label class="footer__label" for="subscribe">Подписаться на новости</label>
            </div>

         </form>

      </div>
   </div>
</footer>
