<header class="header">

   <div class="arrowTop">
      <svg class="arrowTop__svg" viewBox="0 0 100 100">
         <use xlink:href="./assets/icons/symbol/spriteSVG.svg#arrow"></use>
      </svg>
   </div>

   <div class="menu"></div>
   <h1 class="hidden">Продажа котов</h1>

   <div class="container">
      <div class="header__wrap">
         <div class="header__block">

            <div class="header__logo">
               <svg class="header__logo-svg" viewBox="0 0 100 100">
                  <use xlink:href="./assets/icons/symbol/spriteSVG.svg#logo"></use>
               </svg>
            </div>

            <nav class="header__nav">
               <ul class="header__list">

                  <li class="header__item">
                     <a class="header__link" href="#">
                        Main
                     </a>
                  </li>

                  <li class="header__item">
                     <a class="header__link" href="#">
                        Gallery
                     </a>
                  </li>

                  <li class="header__item">
                     <a class="header__link" href="#">
                        News
                     </a>
                  </li>

                  <li class="header__item">
                     <a class="header__link" href="#">
                        Profile
                     </a>
                  </li>

               </ul>
            </nav>
         </div>

         <div class="header__contact">
            <strong class="header__tel">+544 3490 00000</strong>
            <span class="header__message">Звони скорее!</span>
         </div>

         <button class="burger" aria-label="Открыть меню" aria-hidden="true">
            <span></span>
         </button>

      </div>

      <p class="header__text">Найдено 349 котов</p>

   </div>
</header>
