.btn {
   @include font(16px,1,false);
   @include wh(100%,65px);
   color: var(--secondary-color);
   background: var(--additional);
   border: none;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   outline: 0;
   transition: background-color 500ms ease;
}

.btn--sold {
   background-color: #1f2021;
}

.btn:focus,
.btn:hover {
   background-color: tomato;
}
